
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
 ul {
     display: flex;
     flex-direction: row;
     gap: 32px;
     list-style-type: none;
 }

 .left-links {
     font-size: 24px;
 }
 
 .image-holder {
     display: flex;
     background-color: aqua;
     width: 300px;
     height: 150px;
     justify-content: center;
     align-items: center;
 }

 .button-holder {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;

 }

 .top-left {
     display: flex;
     width: 500px;
     flex-wrap: wrap;
}

.middle-header {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

 .middle-container {
     margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: baseline;
 }

  .img {
     max-width: 100%;
     max-height: 100%;
 }
 
 img {
    border: 1px solid rgb(25, 8, 181);
    border-radius: 12px;
    padding: 5px;
    width: 150px;
  }

  .middle-bottom {
      display: flex;
      justify-content: center;
      margin-top: 100px;
      align-items: center;
      flex-direction: column;
  }

  .words {
      font-size: 36px;
  }

  .right-words {
      display: flex;
      justify-content: flex-end;
      font-size: 22px;
  }

  .bottom-color {
      background-color: lightgray;
      border-radius: 12px;
  }