
body {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #1f2937;
    color: #f9faf8;
}
 ul.links {
     display: flex;
     flex-direction: row;
     gap: 32px;
     list-style-type: none;
 }

 .left-links {
     font-size: 24px;
 }

 .top-title {
     display: flex;
     flex-wrap: wrap;
     font-size: 48px;
 }
 
 .image-holder {
     display: flex;
     background-color: grey;
     width: 500px;
     height: 250px;
     justify-content: center;
     align-items: center;
 }

 .top-container {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 12px;
     background-color: #1f2937;
     color: #f9faf8;
     padding: 50px 75px 50px 75px;
 }

 .top-words-holder {
     display: flex;
     width: 351px;
     height: 68px;
 }

 .button-holder {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
 }

 .words-button {
     display: flex;
     flex-direction: column;
 }

  #btn-1 {
      background-color: #3882f6;
      color: #f9faf8;
      border-radius: 10px;
      width: 75px;
      height: 35px;
      border: none;
      margin-top: 14px;
      cursor: pointer;
  }

 .top-left {
     display: flex;
     width: 500px;
     flex-wrap: wrap;
     padding: 50px;
}

.image-box {
    display: flex;
    align-items: center;
}

.middle-header {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

 .middle-container {
     margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: baseline;
 }

  .img {
     max-width: 100%;
     max-height: 100%;
 }
 
 img {
    border: 4px solid #3882f6;
    border-radius: 12px;
    padding: 5px;
    width: 150px;
    cursor: pointer;
  }

  .middle-bottom {
      display: flex;
      justify-content: center;
      margin-top: 100px;
      align-items: center;
      flex-direction: column;
  }

  .words {
      font-size: 36px;
  }

  .right-words {
      display: flex;
      justify-content: flex-end;
      font-size: 22px;
  }

  .bottom-color {
      background-color: lightgray;
      
  }

  .bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
  }

  .blue-box {
      display: flex;
      align-items: center;
      gap: 32px;
      background-color: #3882f6;
      width: 700px;
      height: 100px;
      border-radius: 12px;
      padding: 15px;
      
    
  }

  #btn-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0 0 15px;
  border: 1px solid white;
  background-color: #3882f6;
  color: white;
  padding: 8px 16px;
  font-size: 8px;
  border-radius: 10px;
  height: 25px;
  width: 80px;
  cursor: pointer;

  }

  ul.bottom-links {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      color: #f9faf8;
  }

  .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1f2937;
      color: #3882f6;
      padding: 30px;
      font-size: 12px;
      border-color: #f9faf8;
  }

  
  